<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout1.html}">

<div layout:fragment="content" id="container">
    <!-- location_area -->
    <div class="location_area customer">
        <div class="box_inner">
            <h2 class="tit_page">TOURIST <span class="in">in</span> TOUR</h2>
            <p class="location">고객센터 <span class="path">/</span> 공지사항</p>
            <ul class="page_menu clear">
                <li><a href="#" class="on">공지사항</a></li>
                <li><a href="#">문의하기</a></li>
            </ul>
        </div>
    </div>

    <!-- //location_area -->

    <!-- bodytext_area -->
    <div class="bodytext_area box_inner">
        <form action="/ex/notice_list" method="get" class="minisrch_form">
            <fieldset>
                <legend>검색</legend>
                <input type="text" name="keyword" class="tbox" title="검색어를 입력해주세요" placeholder="검색어를 입력해주세요" th:value="${pageRequestDTO.keyword}">
                <button type="submit" class="btn_srch">검색</button>
                <a href="/ex/notice_add" class="btn_srch">글쓰기</a>
            </fieldset>
        </form>
        <table class="bbsListTbl" summary="번호,제목,조회수,작성일 등을 제공하는 표">
            <caption class="hdd">공지사항  목록</caption>
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">조회수</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody th:with="link = ${pageRequestDTO.getLink()}">
            <tr th:each="notice:${responseDTO.dtoList}">
                <td th:text="${notice.no}"></td>
                <td class="tit_notice"><a th:href="|@{/ex/notice_view(no=${notice.no})}&${link}|">[[${notice.title}]]</a> </td>
                <td>[[${notice.count}]]</td>
                <td>[[${#temporals.format(notice.regDate,'yyyy-MM-dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <div class="pagination">
            <a href="javascript:;" class="firstpage pbtn">
                <img src="/img/btn_firstpage.png" th:data-num = "1" alt="첫 페이지로 이동"></a>
            <a href="javascript:;" th:if="${responseDTO.prev}" class="prevpage pbtn">
                <img th:data-num="${responseDTO.start - 1}" src="/img/btn_prevpage.png" alt="이전페이지로 이동"></a>
            <th:block th:each="i:${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                <a href="javascript:;">
                    <span th:data-num="${i}" th:class="${responseDTO.page == i}?'pagenum currentpage':'pagenum'">[[${i}]]</span>
                </a>
            </th:block>
            <a href="javascript:;" th:if="${responseDTO.next}" class="nextpage pbtn">
                <img th:data-num="${responseDTO.end +1}" src="/img/btn_nextpage.png" alt="다음 페이지로 이동"></a>
            <a href="javascript:;" th:if="${responseDTO.next}" class="lastpage pbtn">
                <img src="/img/btn_lastpage.png" th:data-num="${responseDTO.last}" alt="마지막 페이지로 이동"></a>
        </div>

    </div>
    <!-- //bodytext_area -->

</div>
<!-- //container -->
<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".pagination").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()
        const target = e.target
        if (target.tagName == 'SPAN' || target.tagName == 'IMG'){
            const num = target.getAttribute("data-num")
            const formObj = document.querySelector("form")
            formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
            formObj.submit();
        }
    }, false)
    const arr = [[${arr}]]
</script>
</html>